














<div class="chat-container" id="chat-container"> 
    <div class="chat-header">
        <span id="nombreUser">Chat</span>
        <button class="chat-close" onclick="cerrarChat()">&times;</button>
    </div>
    <div class="chat-body" id="chatbody">
        <div id="contenedorMensa"> 
            <div id="cuerpomensaje{{user.id}}"></div>
        </div> 
    </div>
    <input type="text" id="idUser" value="{{user.id}}" hidden /> 
    <div class="chat-footer" id="chat-footer">
        <input type="text" placeholder="Escribe un mensaje..." id="mensaje" onclick="activarMensaje()" autocomplete="off" autofocus />
        <button type="button" onclick="enviarMensaje('{{_id}}')">Enviar</button>
    </div>
</div>



