<section class="full-width container-notifications">
	<div class="full-width container-notifications-bg btn-Notification"></div>
	<section class="NotificationArea">


		<div class="container3">
			<img src="{{user.photo}}" style="height: 50px; width:50px">
			<label for="">{{user.nombre}} {{user.apellido}}</label>
			<small>{{user.email}}</small>


		</div>

		<div class="botones">
			<div class="menu">
				<a href="/users/perfil"><i class="bi bi-person-bounding-box"></i> Perfil</a>
				<a href="#"><i class="bi bi-journal-text"></i> Mis Publicaciones</a>
				<a href="/publicar">➕ Nueva Publicación</a>
			</div>
			<div class="sigup mt-2">
				<a class="listMenu" href="/users/logout" style="text-decoration: none;">
					<span class="icon-sign-out"></span>Cerrar sesion</a>
			</div>
		</div>




	</section>
</section>