<div class="contenedor">
  <h2>Validar correo electronico

  </h2>
  <p>Te enviamos un codigo al correo: {{email}} que debes validar!</p>
  <br>
  <br>

  <form action="/users/confirs" method="post">
    <div class="row align-items-center">
      <div class="col-md-3">
        <input type="text"  class="form-control" name="AleatorioOne" style="width: 60px" maxlength=1>
      </div>
      <div class="col-md-3">
        <input type="text"  class="form-control" name="AleatorioTwo" style="width: 60px" maxlength=1>
      </div>
      <div class="col-md-3">
        <input type="text"  class="form-control" name="AleatorioThree" style="width: 60px" maxlength=1>
      </div>
      <div class="col-md-3">
        <input type="text"  class="form-control" name="AleatorioFowr" style="width: 60px" maxlength=1>
      </div>
        <input type="hidden"  class="form-control" name="usuario" value="{{usuario}}" >
        <input type="hidden"  class="form-control" name="email" value="{{email}}" >
        <input type="hidden"  class="form-control" name="password"  value="{{password}}">
    </div>
    <br>
    <button type="submit" value="Iniciar" class="botonvalidar">Confirmar codigo</button>

</div>
</form>