{{> componentes}}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="position: fixed;">
  <strong>Alert!</strong> {{error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="/images/ced3c5c2-b058-4151-9b2b-7fd86257c5d6.png" class="img-fluid"
          style="max-width: 100%; maxt-height: 500px;" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="/users/signup" method="post">
          {{!-- <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Registrarme con</p>
            <button type="button" class="btn btn-facebook btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-info btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-danger btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
          </div> --}}

          <div class="container">


            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Registrate</p>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <label for="">Nombre completo</label>
              <input type="text" id="form3Example3" name="nombre" value="{{nombre}}" class="form-control"
                placeholder="Introduce tu nombre completo" />

            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Email</label>
              <input type="email" id="form3Example3" name="email" class="form-control" placeholder="Introduce tu Email"
                required />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Contraseña</label>
              <input type="password" id="form3Example4" name="password" class="form-control"
                placeholder="Introduce una contraseña" />
            </div>

            <div class="d-flex justify-content-between align-items-center">


            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrarme</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Ya tienes una cuenta? <a href="/users/signin"
                  class="link-danger">Iniciar session</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-success text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 100px;"
    id="contactFooter">
    <div class="row">
      <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
        <p class="m-0 text-white-50">Derechos Reservados<a href="#"> © 2025</a>. JER-WEB</a>

        </p>
      </div>

    </div>
  </div>
</section>

<style>
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }

  .h-custom {
    height: calc(100% - 73px);
  }

  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    }
  }

  .btn-facebook {
    background-color: rgb(51, 86, 247);
    color: aliceblue;
  }

      .container {
      background: white;
      padding: 20px;
      width: 350px;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
</style>